.works-container {
  padding: 300px 100px 100px 100px;
}

/** -------------------------------------Work/Title Start-------------------------------------- */

.works {
  display: flex;
  flex-direction: column;
}

.works-title {
  line-height: 0.86em;
  font-size: 11.4583333333vw;
  font-weight: 300;
  letter-spacing: -0.02em;
  color: #472425;
  padding-bottom: 60px;
}

.works-title2 {
  display: flex;
  justify-content: flex-end;
}
.works-title2 {
  line-height: 0.86em;
  font-size: 11.4583333333vw;
  font-weight: 300;
  letter-spacing: -0.02em;
  color: #472425;
}

/** -------------------------------------Work/Title End-------------------------------------- */

/** -------------------------------------Title-Para Start-------------------------------------- */

.works-para-container {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #472425;
  padding-right: 600px;
  padding-top: 40px;
}
.works-para {
  width: 10vw;
}

/** -------------------------------------Title-Para End-------------------------------------- */

@media (max-width: 1536px) {
  .works-para {
    width: 15vw;
  }
}

@media (max-width: 1280px) {
  .works-para {
    width: 15vw;
  }
}

@media (max-width: 1024px) {
  .works-para {
    font-size: 18px;
    width: 19vw;
  }
  .works-para-container {
    padding-right: 330px;
  }
}

@media (max-width: 768px) {
  .works-para {
    font-size: 15px;
  }
}

@media (max-width: 640px) {
  .works-container {
    padding-top: 200px;
  }
  .works-para-container {
    padding-right: 200px;
  }
  .works-para {
    font-size: 10px;
    width: 20vw;
  }
}
