/** ----------------------------------------Projects START---------------------------------------- */

.project1 {
  width: 30%;
  margin-right: 40vw;
  padding-bottom: 200px;
}

.project2 {
  width: 30%;
  margin-left: 45vw;
  margin-top: 20vh;
}

.project3 {
  width: 30%;
  margin-top: 20vh;
  margin-right: 45vw;
}

.project4 {
  width: 30%;
  margin-top: 20vh;
  margin-left: 45vw;
}

/** ----------------------------------------Num/Title START---------------------------------------- */

.num-title {
  padding-bottom: 5px;
  color: #472425;
}
.num-title p,
h3 {
  padding-bottom: 8px;
}

.num-title p {
  font-size: 17px;
}

.num-title h3 {
  font-size: 25px;
}

.videos {
  width: 100%;
  height: auto;
}

/** ----------------------------------------Num/Title END---------------------------------------- */

/** ----------------------------------------Info/Area START---------------------------------------- */
.info-area {
  padding: 20px 0px 20px 0px;
}

.info-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-arrow p {
  font-size: 20px;
  padding: 10px 30px 10px 0px;
  width: 100%;
  color: #472425;
}

.info-arrow a {
  font-size: 70px;
  color: #472425;
}

.info-arrow a:hover {
    color: #4724257a;
    transition-duration: 400ms;
}

.space {
  width: 100%;
  height: 1px;
  /* border: 1px dashed #472425; */
  border-bottom: 2.8px dashed #472425;
}

/** ----------------------------------------Info/Area END---------------------------------------- */

/** ----------------------------------------Projects END---------------------------------------- */

.sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}

.sec-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* padding-top
padding-right
padding-bottom
padding-left */
