.name-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

/** -------------------------------------firstName/Nav Start-------------------------------------- */

.first-name {
  line-height: 0.86em;
  font-size: 11.4583333333vw;
  font-weight: 300;
  letter-spacing: -0.02em;
  color: #472425;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 24px;
  padding-bottom: 120px;
}

.links {
  padding-bottom: 10px;
  text-decoration: none;
  color: #472425;
}

.links:hover {
  color: #4724257a;
  transition-duration: 400ms;
}

.links::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  border-bottom: 3px dashed #472425;
  transition: width 0.3s;
  font-weight: bolder;
}
.links:hover::after {
  width: 100%;
}

/** -------------------------------------firstName/Nav End---------------------------------------- */

/** -------------------------------------Para/Job Start---------------------------------------- */

.para-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

.job {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.para {
  font-size: 22px;
  max-width: 20vw;
  padding-bottom: 80px;
  padding-left: 50px;
  color: #472425;
}

.job-title {
  font-weight: 400;
  line-height: 0.86em;
  font-size: 11.4583333333vw;
  letter-spacing: -0.02em;
  color: #472425;
}

/* .earth{
  width: 100px;
  height: 100px;
  border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
} */

/** -------------------------------------Para/Job Start---------------------------------------- */

@media (max-width: 1536px) {
  .para {
    font-size: 18px;
  }
  .nav {
    font-size: 20px;
  }
}

@media (max-width: 1280px) {
  .para {
    font-size: 15px;
  }
  .nav {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .para {
    font-size: 11px;
  }
  .nav {
    font-size: 14px;
  }
}

@media (max-width: 940px) {
  .para {
    font-size: 8px;
    padding-left: 6px;
    padding-bottom: 40px;
    padding-right: 10px;
  }
  .nav {
    font-size: 11px;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .para {
    font-size: 8px;
    padding-left: 6px;
    padding-bottom: 40px;
    padding-right: 10px;
  }
  .nav {
    font-size: 11px;
    padding-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .para {
    font-size: 6px;
    padding-left: 1px;
    padding-bottom: 40px;
    padding-right: 17px;
  }
  .nav {
    font-size: 8px;
    padding-bottom: 20px;
  }
  .links {
    padding-bottom: 4px;
    text-decoration: none;
    color: #472425;
  }
  .name-nav {
    
    padding-bottom: 40px;
  }
  .para-title {
    
    padding-top: 50px;
  }
}
