/** -------------------------------------About START-------------------------------------- */

.about-container {
  padding-top: 15.625vw;
}

.myself-title {
  text-align: center;
  max-width: 62.5vw;
  margin: 0 auto;
  font-weight: 400;
  line-height: 0.86em;
  letter-spacing: -0.02em;
  font-size: 9.8958333333vw;
  color: #472425;
}

.three-values {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.three-values p {
  font-size: 22px;
  padding-top: 200px;
  max-width: 12vw;
  color: #472425;
}

.story-para {
  font-size: 22px;
  max-width: 30vw;
  color: #472425;
}

.myself-para-flag {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 200px;
}

.img-mex {
  filter: opacity(0.5) drop-shadow(0 0 0 #472425);
  width: 25vw;
  height: auto;
}

/** -------------------------------------About END-------------------------------------- */

/* .img-hacker{
    filter: grayscale(1);
    width: 26.5vw;
    height: auto;
} */

@media (max-width: 1536px) {
  .three-values p {
    max-width: 15vw;
  }
}

@media (max-width: 1280px) {
  .three-values p {
    max-width: 18vw;
    font-size: 20px;
  }
  .story-para {
    font-size: 19px;
    max-width: 30vw;
  }
}

@media (max-width: 1024px) {
  .three-values p {
    font-size: 17px;
  }
  .story-para {
    font-size: 15px;
  }
}
@media (max-width: 838px) {
  .three-values p {
    font-size: 15px;
  }
  .story-para {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .three-values p {
    font-size: 12px;
  }
  .story-para {
    font-size: 11px;
  }
}

@media (max-width: 640px) {
  .three-values p {
    padding-top: 180px;
  }
  .story-para {
    font-size: 10px;
  }
}

@media (max-width: 414px) {
  .myself-title {
    font-size: 13vw;
  }
  .three-values p {
    font-size: 12px;
  }
  .myself-para-flag {
    display: flex;
    flex-direction: column;
  }
  .img-mex {
    width: 70vw;
  }
  .story-para {
    font-size: 13px;
    max-width: 70vw;
    padding-top: 70px;
  }
}
