.space-footer {
  width: 100%;
  height: 1px;
  /* border: 1px dashed #472425; */
  border-bottom: 2.8px dashed #472425;
  padding-top: 200px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  /* padding-top: 2vh; */
  /* padding-bottom: 15px; */
  padding: 2vh 10px 15px 10px;
  align-items: center;
  color: #472425;
}

.icon-time {
  display: flex;
  flex-direction: row;
  font-size: 23px;
  align-items: center;
  padding-left: 20px;
}

.world {
  padding-left: 20px;
}

.copyright-footer {
  font-size: 23px;
}

@media (max-width: 870px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* padding-top: 2vh; */
    /* align-items: center; */
  }
  .icon-time {
    padding-bottom: 20px;
  }
}
